<%- include ('partials/header') -%> 
<section>
    <h1>Home</h1>
    <p> <%= homeContent %>  </p>
</section>

<!-- res.render("home", {
    homeContent: homeContent,
    posts: foundPosts
}); -->

<% posts.forEach( function(post) { %>
    <section>
        
        <% if(post.post.length > 100) { %>
            <a class="title" href="/posts/<%=post["title"]%>"> <%= post.title %> </a>
            <div style="display: flex; align-items: center;">
                <p><%= post.post.substring(0,100) + "..." %></p>&nbsp;
                <a class="btn-read-more" href="/posts/<%=post._id%>"> Read more </a>
            </div>
        <%} else { %>
            <a class="title" href="/posts/<%=post["title"]%>"> <%= post.title %> </a>
            <p><%= post.post %></p>
        <% } %>

    </section>
    <% console.log(post["title"]) %>
<% }) %>

<%- include ('partials/footer') -%> 
